.subject-card {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: var(--space-2);
    box-shadow: var(--box-shadow);
    cursor: grab;
    border-inline-start-width: 6px;
    border-inline-start-style: solid;
    border-inline-start-color: var(--color-white);

    &.subject-card--ens {
        border-inline-start-color: var(--color-red-1);
    }
    &.subject-card--sam {
        border-inline-start-color: var(--color-purple-1);
    }
    &.subject-card--sta {
        border-inline-start-color: var(--color-cyan-1);
    }
    &.subject-card--isl {
        border-inline-start-color: var(--color-green-2);
    }
    &.subject-card--dan {
        border-inline-start-color: var(--color-orange-1);
    }
    &.subject-card--nat {
        border-inline-start-color: var(--color-brown-1);
    }
    &.subject-card--stud {
        border-inline-start-color: var(--color-gray-1);
    }
    &.subject-card--vel {
        border-inline-start-color: var(--color-blue-1);
    }
        
}
.subject-card__aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.subject-card__title {
    margin: 0;
    cursor: pointer;

    &.subject-card__title--disabled {
        color: var(--color-gray-2);
    }
}
.subject-card__kind {
    margin: 0;
    cursor: pointer;
    &.subject-card__kind--disabled {
        color: var(--color-gray-2);
    }
}
.subject-card__time {
    display: block;
    font-size: var(--font-0);
    cursor: pointer;
}
.subject-card__description {
    cursor: pointer;
    &.subject-card__description--disabled {
        color: var(--color-gray-2);
    }
}
.subject-card__textarea {
    width: 100%;
}
.subject-card__details {
    margin-block: var(--space-2);
    /* summary {
        cursor: zoom-in;
    }
    & summary::marker {
        display: none;
        content: " + ";
    } */
}
.subject-card__details[open] {
    /* & summary::marker {
        display: none;
        content: " - ";
    } */
}